*{
    margin: 0;
    padding:0;
}
.mobile{
    display: none;
}
:root{
    --green:#04aa6d; 
    --black:#111;
    --grey:#333;
}

@media only screen and (max-width: 768px){
   .desk{
       display: none;
   }
   .mobile{
       display:block;
   }

   .dropdown-content{
       display:none;
       position: fixed;
       right:0px;
       z-index: 1;
       background-color: var(--grey);
   }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

nav {
    /* position:;  static,sticky,relative 일때, overflow 꽉참..*/
    position:sticky;
    display: block;
    list-style-type: none;
    overflow:hidden;
    background-color: #333;
}


li{
    display: inline;
    float: left;
}

li >a{
    display: block;
    color:white;
    font-size: 1.4rem;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropbtn{
    margin:12px;
    float:right;
    border-right:none;
    position:static;
}

li a:hover{
    background-color: #111;
}

.active{
    background-color:var(--green);
}

.dropdown-content a{
    color:var(--black);
    padding: 12 16;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{background-color:var(--green);}
.show{display: block;} 
